<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        displaying the data submitted in New_form class<br>
        <!--
         <h1>Name: {{name}}</h1>
         <h1>email: {{email}}</h1>
         <h1>url: {{url}}</h1>
         <h1>Number: {{number}}</h1>
         -->
         <h1>gender :{{gender}}</h1>
         <h1>gender1: {{gender1}}</h1>
         <h1>courses: {{courses}}</h1>
    </center>
</body>
</html>